
body {
  background-color: var(--overall-background);
  font-family: "Titillium Web", serif;
  font-weight: 400;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}
